<div class="w-75 mx-auto">
    <p class="fs-1">Add products</p>
    {{#if errorAddProduct}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
     <strong>Error message! </strong> {{errorAddProduct}}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {{/if}}
    <form action="/add-products" method="post">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="title" placeholder="Title">
            <label for="floatingInput">Title</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingPassword" name="description" style="height: 100px"
                placeholder="description"> </textarea>
            <label for="floatingPassword">Description</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="image" placeholder="Image">
            <label for="floatingInput">Image</label>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <div class="form-floating">
                <input type="number" class="form-control" name="price" id="floatingInputGroup1" placeholder="Username">
                <label for="floatingInputGroup1">Price</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 py-2 px-5">Add products</button>

    </form>

</div>