
<div class="w-75 mx-auto">
<h1 class="fs-1">Log In </h1>

<form action="/login" method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3 py-2 px-5">Log In</button>
</form>

</div>
