
<div class="w-75 mx-auto">
<h1 class="fs-1">Register</h1>
{{#if registerError}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>Error message! </strong> {{registerError}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
<form action="/register" method="post">
     <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" name="name" placeholder="Your name">
        <label for="floatingName">Your name</label>
    </div>

     <div class="form-floating mb-3">
        <input type="tel" class="form-control" id="floatingPhone" name="phone" placeholder="Phone number">
        <label for="floatingPhone">Phone number</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com">
        <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3 py-2 px-5">Log In</button>
</form>

</div>
